@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
  /* Primary Background colors */
  --color-primary: #3b82f6; /* buttons, links */
  --color-primary-dark: #2563eb; /* hover */
  --color-primary-light: #e0edff; /* soft backgrounds */

  /* Secondary (Green - success / register / resolved) */
  --color-secondary: #10b981;
  --color-secondary-dark: #059669;
<<<<<<< HEAD
  --color-secondary-extradark:#0f7756;
  --color-secondary-light: #ddf9ec;
  --color-light-green : #d5e7e1;
  --color-light-dark:#aaebd8;
  --color-grey:#bdcec4ba;
  
=======
  --color-secondary-light: #ddf9ec;

>>>>>>> 4f234d7938f3a1732b79edebc8b3753f3bf6109a
  /* Accent (Purple - student zone button) */
  --color-accent: #6366f1;
  --color-accent-light: #eef2ff;

  /* Backgrounds */
  --color-bg-main: #eef4ff; /* page background */
  --color-bg-card: #ffffff; /* cards */
  --color-bg-muted: #f8fafc; /* table headers, inputs */

  /* Text Colors */
  --color-text-primary: #0f172a; /* headings */
  --color-text-secondary: #475569; /* body text */
  --color-text-muted: #94a3b8; /* labels, hints */
  --color-text-white: #ffffff;

  /* Status Colors */
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-info: #0ea5e9;
  
  /* Borders */
  --color-border: #cfd3d8;
  --color-border-light: #f1f5f9;

  /* ----------- SPACING VARIABLES -------- */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;

  /*  FONT SIZES */
  --font-xxs:10px;
  --font-xs: 12px;
  --font-sm: 13px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 22px;
  --font-2xl: 28px;
  --font-3xl: 36px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* BORDER RADIUS  */
  --radius-xxs:2px;
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;
  --radius-full: 999px;

  /* SHADOWS  */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-lg: 0px 13px 25px rgba(0, 0, 0, 0.17);
}

