@import url('./theme.css');

.flex{
   display: flex;
}
.flex-col{
   display: flex;
   flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-space-around{
    justify-content: space-around;
}


.align-items-center{
    align-items: center;
}

.gap-sm{
    gap:4px;
}
.gap-md{
    gap:8px;
}
.gap-lg{
    gap:16px;
}
.gap-xl{
        gap:30px;
}
.input{
    padding:var(--space-xs) var(--space-md);
    font-size: var(--font-sm);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-xs);
    
}

.btn-sm{
    padding:var(--space-xxs) var(--space-xs);
    outline:none;
    border:none;
    border-radius: var(--radius-xxs);
}
.btn-lg{
    padding:var(--space-xs) var(--space-lg);
    outline:none;
    border:none;
    border-radius: var(--radius-xs);
    cursor: pointer;
    font-weight: 500;
    transition:transform 0.3s ease;
}

button:active{
    transform: scale(0.96);
}
